
# ControlMaster auto
# ControlPath /tmp/ssh_mux_%h_%p_%r

Host *
    # osx specific
    # AddKeysToAgent yes
    # UseKeychain yes
    # IdentityFile ~/.ssh/xxx
    ForwardAgent yes
    ServerAliveInterval 10
    ServerAliveCountMax 2 
    TCPKeepAlive no
    VisualHostKey yes
    UseRoaming no
#    ForwardX11 yes
#    StrictHostKeyChecking no
#    UserKnownHostsFile=/dev/null

# proxy/spipe example
# Host dc-hop.example.com
#     ProxyCommand nc -w 30 -X 5 -x localhost:3000 %h %p
#     ProxyCommand spipe -t %h:8022 -k ~/.ssh/ssh_spiped_%h.key
#     ProxyCommand ssh -q -W %h:%p hopserver

