
# ControlMaster auto
# ControlPath /tmp/ssh_mux_%h_%p_%r

Host *
    ForwardAgent yes
# close session if no keep-alive reply
# was send back from server
    ServerAliveInterval 10
    ServerAliveCountMax 2 



