# https://caddyserver.com/download/linux/amd64?plugins=http.forwardproxy,http.ipfilter,http.webdav,tls.dns.cloudflare&license=personal&telemetry=off
[Unit]
Description=caddy
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Restart=on-failure
#Restart=no
#Restart=always
RestartSec=30

#User=nobody
#Group=nobody

Environment=CADDYPATH=/etc/ssl/caddy
#Environment=CADDYPATH=/srv/caddy/ssl

ExecStart=/usr/local/bin/caddy -log stdout -agree=true -conf=/etc/caddy/Caddyfile -root=/tmp
ExecReload=/bin/kill -USR1 $MAINPID

LimitNOFILE=8192
LimitNPROC=100

PrivateTmp=true
#PrivateDevices=true
# Hide /home, /root, and /run/user. Nobody will steal your SSH-keys.
ProtectHome=true 
; Make /usr, /boot, /etc and possibly some more folders read-only.
ProtectSystem=full
; … except /etc/ssl/caddy, because we want Letsencrypt-certificates there.
;   This merely retains r/w access rights, it does not add any new. Must still be writable on the host!
#ReadWriteDirectories=/etc/ssl/caddy
#ReadWriteDirectories=/srv/caddy/ssl

;CapabilityBoundingSet=CAP_NET_BIND_SERVICE
;AmbientCapabilities=CAP_NET_BIND_SERVICE
;NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
