[Unit]
Description=/etc/rc.local Compatibility
ConditionFileIsExecutable=/etc/rc.local
#After=network.target

[Service]
Type=oneshot
ExecStart=/etc/rc.local
TimeoutSec=0
RemainAfterExit=yes
SysVStartPriority=99

# for archlinux which does not come with rc-local-generator
[Install]
WantedBy=multi-user.target
