

# listening port
listen-address  127.0.0.1:8081


# default go proxy
forward-socks5      /               127.0.0.1:7071 .

# default no proxy rules, define more in actionsfile
forward             192.168.*.*/    .
forward             10.*.*.*/       .
forward             127.*.*.*/      .
forward             localhost/      .

actionsfile     gfw.action
# gfw.action example
#
#   { +forward-override{forward .} }
#   .sina.com.cn
#   .qq*.com
#   .qstatic.com
#   .netease.com
#   .163.com

